
services:
  backend:
    build: ./backend
    container_name: trr-backend
    ports:
      - "3001:3001"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    networks:
      - trr-net

  frontend:
    build: ./frontend
    container_name: trr-frontend
    ports:
      - "5174:5174"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    networks:
      - trr-net

networks:
  trr-net:
    driver: bridge
